*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{   
    width: 1080px;
    margin: 0 auto;
}
header{
    height:10%;
    background-color: #4EA0FF;
    background-image: url("./img/pattern.png");
    padding:5% 80% 0.5% 1%;
    }
main{
    margin:2% 1%;
}
h1{
    margin-bottom: 0;
    font-size: 35px;
}
a {
    color: #20A9E5;
    text-decoration: none;
  }
.Yunderline{
    background-color: yellow;
}
.gray{
    color: gray;
}
.ph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#By {
    font-size: 18px;
}
#date{
    font-size: 12px;
    margin-bottom:2%;
}

